/***********************API******************/
/*////////////////Graph/////////////////////*/
.graph-error {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255,0,0,0.1);
    box-sizing: border-box;
    padding: 60px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 90%;
    background: #333;
    border: 1px #222 solid;
    border-radius: 3px;
    color: white;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 10;
}
/*////////////////Buttons/////////////////////*/
.graph-buttons-group {
    padding: 25px 10px 0 40px;
    /* 	background:#f9f9f9; */
    position: relative;
    display: inline-block;
}

.graph-buttons-switch {
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin: 0px 20px 15px;
    width: 160px;
    height: 26px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
	supported by Chrome and Opera */
}

.graph-buttons-switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 78px;
    line-height: 26px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    cursor: pointer;
}

.graph-buttons-switch-label-off {
    padding-left: 2px;
}

.graph-buttons-switch-label-on {
    padding-right: 2px;
}

.graph-buttons-switch-input {
    display: none;
}

    .graph-buttons-switch-input:checked + .graph-buttons-switch-label {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.65);
        /*text-shadow: 0 1px rgba(255, 255, 255, 0.25);*/
        -webkit-transition: 0.15s ease-out;
        -moz-transition: 0.15s ease-out;
        -o-transition: 0.15s ease-out;
        transition: 0.15s ease-out;
    }

    .graph-buttons-switch-input:checked + .graph-buttons-switch-label-on ~ .graph-buttons-switch-selection {
        left: 80px;
    }

.graph-buttons-switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 78px;
    height: 22px;
    background: rgba(255, 255, 255,1);
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255,0.6), 0 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255,0.6), 0 0 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: left 0.15s ease-out,background 0.3s;
    -moz-transition: left 0.15s ease-out,background 0.3s;
    -o-transition: left 0.15s ease-out,background 0.3s;
    transition: left 0.15s ease-out,background 0.3s;
    /* 	transition: background 0.3s ; */
}


#impektLogoLoader .loaderRight {
    animation: load 2.1s -0.1s infinite ease-in-out;
}

#impektLogoLoader .loaderLeft {
    animation: load 2.1s infinite ease-in-out reverse;
}

@keyframes load {
    0% {
        stroke-dasharray: 204 5; /*line gap*/
        stroke-dashoffset: 209;
    }

    50% {
        stroke-dasharray: 204 50; /*line gap*/
        stroke-dashoffset: 0;
    }
}
